<section id="{{ include.section.section_id }}" class="block hero-block outer" style="background-image:url({{ include.section.hero_img_background }});">
  <div class="inner-small hero-text">
    <div class="block-header">
      <h1 class="block-title">{{ include.section.title }}</h1>
    </div><!-- .block-header -->
    <div class="block-content">
      <div class="block-copy">
        {{ include.section.content | markdownify }}
      </div>
    </div><!-- .block-content -->
  </div><!-- .inner -->
</section><!-- .block -->
